<!DOCTYPE html>
<html>
  <head>
    <title>DocReadHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="dark">
    <main class="container mx-auto mt-8 px-5">
      <%= yield %>
    </main>
  </body>
</html>
